<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 7TECH - Inicio </title>

    <!-- scripts -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/img/logo_crud.png" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo_crud.png" alt="logo">
        </div>
        <nav>
            <a href="#" class="active_menu">INICIO</a>
            <a href="./signin.php">ENTRAR</a>
            <a href="./signup.php">CADASTRO</a>
        </nav>
    </header>
    <div class="container firstScreen">
        <main>
            <div class="start_website">
                <div class="left">
                    <div class="text">
                        <h1>7TECH</h1>
                        <p>Meu Projeto para aprender a manipular <b>Banco de Dados</b></p>
                        <div class="buttons_init">
                            <a href="./signin.php" class="btn">Entrar</a>
                            <a href="./signup.php" class="btn">Cadastrar</a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <img src="../assets/img/database_animat.png" alt="database_animate" id="data_img">
                </div>
            </div>
        </main>

    </div>
    <footer>
        <ion-icon name="logo-github" onclick="irPara('https://github.com/SevenOfice777')"></ion-icon>
        <p>Site criado e desenvolvido por &copy;<a href="https://www.instagram.com/samuel_seven777/" target="_blank" id="samuel_seven"> Samuel Seven</a></p>
        <ion-icon name="logo-linkedin" onclick="irPara('https://br.linkedin.com/in/samuel-seven-88565a242')"></ion-icon>
    </footer>

    <script src="../scripts/main.js"></script>
</body>

</html>