/* Nav Responsivo */

nav {
    display: none;
}

.element-none {
    display: block;
}

/*  Container */

.firstScreen .start_website {
    flex-direction: column-reverse;
    
}

.secondScreen .start_website , .thirdScreen .start_website{
    flex-direction: column;
    
}

/* FirstScreen */

.container
 {
    padding: 100px 0px;
}
 .left,  .right {
    width: 100%;
    height: 50%;
}

.start_website {
    height: 100%;
}


 #data_img {
    width: 350px;
    height: 350px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text * {
    margin: 20px 0px;
}

.text h1 {
    font-family: var(--font-title);
    font-weight: bolder;
}

.card {
    width: 70%;
}