/* Estilos comuns para smartphones e tablets */

.firstScreen {
    background-image: url(../../assets/img/background_container.jpeg);
}

.secondScreen {
    background-image: url(../../assets/img/red_login.png);
}

.thirdScreen {
    padding: 5% 0% 0% 0%;
    background-image: url(../../assets/img/red_signup.png);
}

/* Nav Responsivo */

nav {
    display: none;
}

.element-none {
    display: block;
}

/* Container */

.firstScreen .start_website {
    flex-direction: column-reverse;
}

.secondScreen .start_website,
.thirdScreen .start_website {
    flex-direction: column;
}

.container {
    padding: 100px 0px;
}

.apr_container {
    height: 80vh;
    padding-bottom: 5%;
}

.left,
.right {
    width: 100%;
    height: 50%;
}

.center {
    padding-top: 10%;
}

.start_website {
    height: 100%;
    flex-direction: column;
    padding: 0;
}

#data_img {
    width: 350px;
    height: 350px;
}

.container-database-animate {
    display: block;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text * {
    margin: 20px 0px;
    width: 90%;
    text-align: center;
}

/* h1 {
    text-align: center;
    font-family: var(--font-title);
    font-weight: bolder;
} */

h1 {
    text-align: center;
}

.card {
    width: 90%;
}

.container-t-b {
    height: 100%;
    gap: 50px;
}

.optBank-container {
    flex-direction: column;
    gap: 30px;
}

.top, .bottom {
    width: 100%;
    height: 100%;
}

footer .columns {
    flex-direction: column;
}

.column {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#data_img {
    width: 250px;
    height: 250px;
}

text p {
    width: 70%;
    text-align: center;
}

.full_black_background a {
    width: 200px;
}

.card-default-centerscreen {
    width: 90%;
}

.container_extratos_card {
    padding-top: 5%;
}
