.user-area-screen {
    background-image: url(../assets/img/background_container.png);
}

.user-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user-picture img {
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.logout-icon {
    margin-left: 20px;
    font-size:20pt;
    font-weight: bolder;
}

.logout-icon:hover {    
    color: red;
    cursor: pointer;
}

.user-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user-data-container *:hover, .user-data-container:hover {
    cursor:pointer;
}
/* menu-dataUser */

.user-data-card {
    position: fixed;
    top: 100px;
    right: 5%;
    width: 350px;
    height: 400px;
    background-color: black;
    border: 1px solid rgb(150, 10, 10);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.user-data-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photo-user {
    position: relative;
    width: 80px;
    height: 80px;
}

.overlay-edit-photo{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    filter: invert(100%);
}

.photo-user:hover .overlay-edit-photo{
    display: block;
    cursor:pointer;
    background-color: rgba(235, 235, 235, 0.849);
}
.logout {
    width: 60%;
    border:  1px solid rgb(105, 5, 5);
    padding: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 10px;


}
.logout:hover {
    background-color: rgb(105, 5, 5);
}
.logout > * {
    margin: 0px 10px;
}

.realce-span {
    margin-right: 15px;
    font-weight: bolder;
}

.data-user-campo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px 0px;
}

span[name="saldo"]{
    font-size: 20pt;
    color: whuite;
    font-weight: bolder;
}

.display_none {
    display: none;
  }