@font-face {
    font-family: 'Font_title';
    src: url(../assets/fonts/font-title.ttf);
}


@font-face {
    font-family: 'Font_text';
    src: url(../assets/fonts/font-text.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --font-title: 'Oswald', sans-serif;
    --font-text: 'Font_text';
    --corSite:rgb(182, 12, 12);
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: var(--font-text);
}


body {
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
}

header {
    width: 100vw;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.707);
    top: 0;
    left: 0;
    z-index: 998;
}

header .logo img {
    width: 50px;
    height: 50px;
    filter: brightness(150%);

}

header nav a, .header-responsive a {
    font-weight: bolder;
    font-size: 15pt;
    margin: 0px 20px;
    padding: 5px;
}

header nav a:hover, .header-responsive a:hover {
    font-weight: bolder;
    border-bottom: 1px solid rgb(255, 255, 255);
}

/* Responsivo */

/* menu-hamburguer */
.element-none {
    display: none;
    width: 30px;
    height: 30px;
    filter: invert(100%);
    color: white;
    font-weight: bolder;
}

.element-none:hover {
    color: var(--corSite);
    cursor:pointer;
}

/* header-responsive */

.header-responsive {
    z-index: 998;
    position: fixed;
    top: 0;
    transition: 0.5s;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h-r-ngtv-pos {
    right: -100vw;
}

.h-r-pstv-pos {
    right:0vw;
}

.header-responsive img {
    width: 50px;
    height: 50px;
}

.header-responsive .nav-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}




/* MAIN - CONFIG */

.container {
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.897);
}

.firstScreen {
    background-image: url(../assets/img/red_login.png   );
    
}

.secondScreen {
    background-image: url(../assets/img/red_login.png);
}

.thirdScreen {
    padding: 5% 0% 0% 0%;
    background-image: url(../assets/img/red_signup.png);
}


/* footer */


#samuel_seven {
    font-weight: bolder;
}

#samuel_seven:hover {
    color: var(--corSite);
    cursor: pointer;
}

.start_website {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left,
.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start_website .left .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    flex-direction: column;
    gap: 20px;
}

.right > a:hover {
    color: var(--corSite);
}
.text > * {
    margin-bottom: 30px;
}
.text h1 {
    font-size: 50pt;
}

.text a {
    background: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    margin: 30px 20px 0px 0px ;
    font-size: 16pt;
    padding: 10px 20px;
}

.text p {
    font-size: 15pt;
    font-weight: normal;
}

.text a:nth-child(1) {
    background-color: var(--corSite);
    border: 1px solid var(--corSite);
}

.text a:nth-child(1):hover {
    background-color: var(--corSite);
    border: 1px solid var(--corSite);
}

.text a:nth-child(2):hover {
    background-color: var(--corSite);
    border: 1px solid var(--corSite);
}



#data_img {
    width: 450px;
    height: 450px;
}

.active_menu {
    border-bottom: 1px solid var(--corSite);
    color: var(--corSite);
}

b {
    color: var(--corSite);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.782);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.223);
    color: #fff;
    margin-top: 20px;
    padding: 20px 20px;
    width: 460px;
    text-align: left;
}

.card form {
    width: 100%;
}

.card h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.card input[type="email"],
.card input[type="password"], 
.card input[type="date"], 
.card input[type="number"], 
.card input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 13pt;
    margin: 10px 0px 15px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: #fff;
}

.card input[type="text"]::placeholder,
.card input[type="password"]::placeholder {
    color: #aaa;
}

.password-container {
    position: relative;
    width: 100%;
}

.hover-password{
    position: absolute;
    top: 20px;
    right:10px;
    font-size: 15pt;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.hover-password:hover{ 
    cursor:pointer;
}

.card button {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.card button:hover {
    background-color: #2980b9;
}

.log_error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    color: red;
    font-size: 11pt;
    text-align: center;
}



.full_black_background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .log {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    padding: 50px;
    background-color: rgba(37, 4, 4, 0.801);
    border: 1px solid var(--corSite);
    color: white;
    border-radius: 10px;
  }

  .log h1 {
    text-align: center;
  }

  .log * {
    margin: 30px;
  }

  .log img {
    width: 50px;
    height: 50px;
  }


  .display_none {
    display: none;
  }

  .container-database-animate {
      display: none;
  }

  .full_black_background a {
    border-radius: 10px;
    background-color: rgb(158, 15, 15);
    padding: 10px ;
    width: 40%;
    text-align: center;
    font-size: 15pt;
    border: 3px solid rgb(158, 15, 15);
    text-transform: uppercase;

  }

  .full_black_background a:hover {
    background-color: rgb(105, 5, 5);
    border-color:rgb(105, 5, 5);
    color: white;
  }

 
footer {
    width: 100vw;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.993);
}

footer .columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.column img {
    width: 50px;
}

.column ul {
    list-style: none;
    
}

.column a:hover, .column li:hover {
    color: var(--corSite);
}
footer * {
    font-size: 10pt;
}

.column * {
    margin: 10px 0px;
}

