nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

[txtValue="saldo"], .logout-icon {
    font-size: 18pt;
}

.user-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
}

.user-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.logout-icon:hover{
    cursor: pointer;
    color: var(--corSite);
}

.logout {
    width: 200px;
    border:  1px solid rgb(105, 5, 5);
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 12pt;

}
.logout:hover {
    background-color: rgb(105, 5, 5);
    cursor: pointer;
}

.header-responsive img {
    border-radius: 50%;
}



.text p {
    width: 90%;
}

/* PIX - SECTION */



.card h1 {
    margin-bottom: 20px;
}