@font-face {
    font-family: 'Font_title';
    src: url(../assets/fonts/font-title.ttf);
}

@font-face {
    font-family: 'Font_text';
    src: url(../assets/fonts/font-text.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --font-title: 'Oswald', sans-serif;
    --font-text: 'Font_text';
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: var(--font-text);
}


body {
    width: 100vw;
    overflow-x: hidden;
}

header {
    width: 100vw;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.92);
    top: 0;
    left: 0;
    z-index: 998;
}

header .logo img {
    width: 50px;
    height: 50px;
    filter: brightness(150%);

}

header nav a, .header-responsive a {
    font-weight: bolder;
    font-size: 15pt;
    margin: 0px 20px;
    padding: 5px;
}

header nav a:hover, .header-responsive a:hover {
    font-weight: bolder;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.user-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user-picture img {
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

#logout-icon {
    margin-left: 20px;
    font-size:20pt;
    font-weight: bolder;
}

#logout-icon:hover {    
    color: red;
    cursor: pointer;
}

.user-data:hover .user-data-container {
    font-weight: bolder; 
    cursor: pointer;
    color: rgb(250, 51, 51);
}

.user-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.user-data {
    position: relative;
}
.user-data-div {
    position: absolute;
    top: 50px;
    left: -300px;
    width: 350px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.829);
    border: 1px solid rgb(156, 12, 12);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}

.user-data-div img {
    width: 100px;
    height: 100px;

}

.user-data-div span.username {
    font-size: 20pt;
}
.user-data-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-data-info *{
    margin: 10px 0px ;
    text-align: center;
}

.usersaldo {
    font-size: 18pt;
}
/* Responsivo */
.element-none {
    display: none;
    font-size: 20pt;
    color: white;
    font-weight: bolder;
}

.element-none:hover {
    color: rgb(150, 10, 10);
    cursor:pointer;
}

.header-responsive {
    z-index: 998;
    position: fixed;
    top: 0;
    transition: 0.5s;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h-r-ngtv-pos {
    right: -100vw;
}

.h-r-pstv-pos {
    right:0vw;
}

.header-responsive img {
    width: 50px;
    height: 50px;
}

.header-responsive .nav-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}




/* MAIN - CONFIG */

.container {
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.788);
}

.firstScreen {
    background-image: url(../assets/img/background_container.jpg);
}

.secondScreen {
    background-image: url(../assets/img/red_login.png);
}

.thirdScreen {
    background-image: url(../assets/img/red_signup.jpg);
}

.user-area-screen {
    background-image: url(../assets/img/background_container.jpg);
}
/* footer */


#samuel_seven {
    font-weight: bolder;
}

#samuel_seven:hover {
    color: rgb(187, 59, 59);
    cursor: pointer;
}

.start_website {
     width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left,
.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text > * {
    margin: 30px;
}
.text h1 {
    font-size: 50pt;
    margin-bottom: 25px;
}

.text a {
    background: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    margin: 30px 20px 0px 0px ;
    font-size: 13pt;
    padding: 10px 20px;
}

.text a:nth-child(1) {
    background-color: rgb(187, 59, 59);
    border: 1px solid rgb(187, 59, 59);
}

.text a:nth-child(1):hover {
    background-color: rgb(150, 10, 10);
    border: 1px solid rgb(150, 10, 10);
}

.text a:nth-child(2):hover {
    background-color: rgb(150, 10, 10);
    border: 1px solid rgb(150, 10, 10);
}



#data_img {
    width: 450px;
    height: 450px;
}

.active_menu {
    border-bottom: 1px solid rgb(187, 59, 59);
    color: rgb(187, 59, 59);
}

b {
    color: rgb(222, 102, 102);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.782);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.223);
    color: #fff;
    margin-top: 20px;
    padding: 20px 20px;
    width: 460px;
    text-align: left;
}

.card h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.card input[type="email"],
.card input[type="password"], 
.card input[type="date"], 
.card input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 13pt;
    margin: 10px 0px 15px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: #fff;
}

.card input[type="text"]::placeholder,
.card input[type="password"]::placeholder {
    color: #aaa;
}

.card button {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.card button:hover {
    background-color: #2980b9;
}

.log_error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    color: red;
    font-size: 11pt;
    text-align: center;
}



.full_black_background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .log {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    padding: 50px;
    background-color: rgba(37, 4, 4, 0.801);
    border: 1px solid rgb(150, 10, 10);
    color: white;
    border-radius: 10px;
  }

  .log h1 {
    text-align: center;
  }

  .log * {
    margin: 30px;
  }

  .log img {
    width: 50px;
    height: 50px;
  }


  .display_none {
    display: none;
  }

  .full_black_background a {
    border-radius: 10px;
    background-color: rgb(158, 15, 15);
    padding: 10px ;
    width: 40%;
    text-align: center;
    font-size: 15pt;
    border: 3px solid rgb(158, 15, 15);
    text-transform: uppercase;

  }

  .full_black_background a:hover {
    background-color: rgb(105, 5, 5);
    border-color:rgb(105, 5, 5);
    color: white;
  }

 
    footer {
        color: white;
        width: 100vw;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(0, 0, 0);
    }
    
    footer ion-icon {
        font-size: 20px;
    }
    
    footer ion-icon:hover {
        color: rgb(187, 59, 59);
    }